body,
button,
input,
select,
textarea {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-weight: 400;
}

#banner-content {}

#banner {}

#main-outlet {
    background: white;
    padding: 8rem 1rem 1rem 1rem;
    box-sizing: border-box;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    min-height: calc(100vh - 3rem);
}

.category-logo.aspect-image {
    --max-height: 75px;
}

.list-controls {
    padding: .5rem;
}

.topic-body {}

a,
button,
.combo-box-header {
    border-radius: 2px;
}

span.badge-category-bg {
    border-radius: 2px;
}

/* topic color hover */
.topic-list a.title:hover {
    color: black;
}

/* visited topic color */
.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
    color: #969696;
}

/* visited topic color hover */
.topic-list-item.visited a.title:not(.badge-notification):hover,
.latest-topic-list-item.visited a.title:not(.badge-notification):hover,
.category-topic-link.visited a.title:not(.badge-notification):hover {
    color: #646464;
}

#topic-title h1 {
    font-size: 2em;
    line-height: inherit;
}

/* nav bar with post info showing */
.extra-info-wrapper .topic-header-extra {
    margin-top: -10px;
}

.extra-info-wrapper .badge-wrapper.box+.topic-header-extra {
    padding: 0;
}

.extra-info-wrapper .badge-wrapper {
    padding: 0 4px 0 0;
}

.extra-info-wrapper .badge-category-bg {
    background-color: transparent !important;
}

/* header */

.d-header {
    height: 82px;
    background: #fff;
}

.d-header .contents {
    margin: 0;
}

.d-header .title {
    margin-top: 0;
}

.d-header .panel {
    margin-top: .1rem;
}

.d-header #site-logo {
    max-height: 25px;
}

/* custom navigation */
.navbar {
    position: fixed;
    z-index: 1040;
    box-sizing: border-box;
    width: 100%;
    left: calc((100vw - 1110px) / 2);
}

@media screen and (max-width: 1125px) {
    .navbar {
        left: 5px;
    }
}

.navbar .contents {
    position: absolute;
    left: 305px;
    height: 82px;
    display: flex;
}

.navbar-item,
.navbar-item:visited,
.navbar-item:active {
    color: #3b4d96;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
    display: none;
    align-items: center;
    font-size: 14px;
    font-weight: lighter;
}

.navbar-item,
.menu-link {
    display: none;
}

@media screen and (min-width: 915px) {
    .navbar-item,
    .menu-link,
    .navbar-item:active,
    .menu-link:active {
        display: flex;
    }
}

.navbar-item:hover {
    color: #2b66ab;
}

.menu-link {
    position: relative;
    padding-right: 10px;
    margin-right: 10px;

    .menu-dropdown {
        position: absolute;
        left: 0;
        top: 82px;
        border: 0;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top: 2px solid #dbdbdb;
        box-shadow: 0 8px 8px rgba(10,10,10,.1);
        min-width: 120px;
        padding: 5px 0;
        background: white;
        z-index: 100;

        .dropdown-item {
            border-bottom: 0;
            font-size: 14px;
            padding: 0;

            a {
                text-decoration: none;
                font-weight: 400;
                padding: 10px 25px 10px 15px;
                display: inline-block;
                width: 100%;
                white-space: nowrap;
                color: #3b4d96;
            }

            a:hover {
                text-decoration: none;
            }
        }

        .dropdown-item:hover,
        .dropdown-item:focus {
            background-color: #f5f5f5;
        }
    }
}

.menu-link:hover .menu-dropdown  {
    display: block !important;
    visibility: visible !important;
}

.menu-link:after {
    border: 3px solid #3b4d96;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .425em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .425em;
    margin-top: -.375em;
    right: 0;
}

/* Voting Plugin Customization */
.list-vote-count {
    font-size: 1.2em;
    font-weight: 700;
    color: #3b4d96;
}

/* Powered By logo in search results */
.aa-footer .algolia-logo {
    display: none !important;
}

/* login button in header */
.d-header .btn-small {
    background: transparent;
    opacity: .8;
    color: #4a4a4a;
}

.d-header .btn-small:hover {
    opacity: 1;
    color: #4a4a4a;
    background: #ededed;
}

.d-header .btn-small .d-button-label {
    font-size: 1.1em;
    font-weight: 500;
    margin-left: .2rem;
}


/* footer */

.footer {
    background-color: #2c2d2e;
    height: 3rem;
    padding: .6rem 0;
    box-sizing: border-box;
}

.footer-logo {
    float: left;
}

.footer-links {
    float: right;
}

.footer-links a {
    font-size: .9em;
    color: #999b9d;
}

.footer-links a:hover {
    opacity: 0.5;
}